* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

table {
    display: flex;
    justify-content: center;
    align-items: center;
}

tbody tr {
    display: block;
    padding: 3%;
    background-color: bisque;
    border:solid;
}



td img {
    width: 150px;
}
