* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;   
    font-family: 'Arimo', sans-serif;
}

body,html{
    width:100%;
    height: 100%;
}

a {
    text-decoration: none;
    font-size: 1.5rem;
}

.title-navbar a{
    color:#e6e6e6;
    font-size: 30px;
    transition: all 0.3s ease;
}

.title-navbar a:hover {
    text-decoration: underline;
    
}

.links li a:hover {
    background-color: #e6e6e6;
    color:#1c1c1c;
    transform: translateX(10px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.links li a .dropdown_menu li a{
    position: relative;
    display: block;
    transition: all 0.3s ease;
}

li {
    list-style: none;
}

.logout-button li {
    display: inline-block;
}

.logout-button li img{
    margin-right: 5px;
}

.logout-button a{
    color:#e6e6e6;
    background-color: #1c1c1c;
    padding: 12px;
    display: inline-flex;
    align-items: center;
}
.logout-button a:hover{
    background-color: #e6e6e6;
    color:#1c1c1c;
}

.logout-button li a {
    color: #e6e6e6;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
}

.logout-button img {
    max-width: 25px;
    padding-bottom: 5px;
}

.logout-button li a:hover{
    text-decoration: underline;
}

header {
    background: #1c1c1c;
    padding: 0 3rem;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .links {
    display: flex;
    gap: 1rem;
}

.navbar .links a {
    font-size: 1rem;
    color:#e6e6e6;
}

.navbar .toggle_btn {
    color:#e6e6e6;
    font-size: 1.5rem;
    display: none;
    border:none;
    cursor:pointer;
}

.action-btn{
    color:#fff;
    border: none; 
    outline: none; 
    font-size: 0.8rem;
    font-weight:bold;
    cursor: pointer;
}


.dropdown_menu {
    display:none;
    position: absolute;
    right: 2rem; 
    top: 60px;  
    height: 0px;
    background: rgb(0, 0, 0);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    z-index: 999;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}   

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu li a {
    color: white;
}

.dropdown_menu.open{
    height: 410px;
}

.dropdown_menu .action-btn {
    width: 100%;
    display:flex;
    justify-content: center;
}

@media (max-width: 1300px) {
    .title-navbar a{
        font-size: 20px;
    }

    .navbar .links a {
        font-size: 0.9rem;
    }

    .logout-button li a {
        font-size: 14px;
    }
}

@media (max-width: 1000px) {
    .navbar .links, 
    .navbar .logout-button {
        display:none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display:block;
        width:unset;
        left: 2rem;
    }
}

@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem; 
        width: unset;
    }
}