body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.profile-container {
    width: 700px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

 h2{
    display:flex;
    justify-content: center;
    align-items: center;

}

.cover-photo img {
    height: 100px;
}

.cover-photo a {
    font-size: 20px;
    padding: 15px;
    text-decoration: none;
    font-family: 'PT Serif', serif;
    color:black;
}

.profile-header {
    text-align: center;
    padding: 20px;
}

.profile-picture {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 50%;
    background-image: url('profile-picture.jpg'); /* Replace with your profile picture */
    background-size: cover;
    background-position: center;
}

.profile-header h2 {
    margin: 10px 0;
}

.profile-header p {
    color: #888;
}

.profile-tabs {
    background-color: #f2f2f2;
    padding: 10px;
}

.profile-tabs ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.profile-tabs li {
    display: inline;
}

.profile-tabs a {
    text-decoration: none;
    color: #555;
    padding: 5px;
}

.profile-tabs a:hover {
    color: #4CAF50;
}

.profile-content {
    padding: 20px;
}

.profile-content h3 {
    margin-bottom: 10px;
}