*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

.a-z {
    text-align: left;
    margin-left: 50px;
    margin-top: 10px;
  }

  .a-z h2 {
    font-size: 34px;
    margin-bottom: 10px;
  }

  .a-z p {
    font-size: 20px;
  }
  

.container {
    display: flex; 
    align-items: center;
    justify-content: center;
}

.search-bar {
    width: 100%;
    max-width: 700px;
    background: rgba(209, 87, 87, 0.2);
    display:flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
}

.search-bar input {
    background: transparent;
    flex: 1;
    border: 0; 
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: #767676;
}

.search-bar button img {
    width: 25px;        
}

.search-bar button {
    border: 0; 
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #797979;
    cursor: pointer;
}


/*table */
td img {
    width:150px;
}

table {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
}


tbody tr {
    display: block;
    padding: 5%;
    background-color: blue;
}

.magazine-details {
    background-color: blueviolet;
    
}


