* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Serif', serif;
    background-color: #f1f1f1;
}

.container {
    max-width: 700px;
    margin: 100px auto;
    padding: 100px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body h2{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

h2 img {
    max-width: 80px;
    margin-right: 20px;
}

.form-group {
    margin-bottom: 20px;
}

  .description-box {
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

.description-box p {
    color: #333;
    text-align: center;
}

.form-group label img {
    max-width: 15px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    outline: none;
    border-color: #4e9cdf;
}

button[type="submit"] {
    padding: 10px;
    background-color: #4e9cdf;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: #43a0d3;
}

.error-message {
    color: red;
    margin-bottom: 10px;
    font-size: 14px;
}

.form-footer {
    margin-top: 15px;
    text-align: center;
}
  
.form-footer a {
    margin: 0 5px;
    text-decoration: none;
    color: #333;
}
  
.form-footer a:hover {
    text-decoration: underline;
}

.contact-box {
    display: none;
    margin-top: 20px;
}

.contact-box.show {
    display: block;
    background-color: #f1f1f1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-box h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.contact-box p {
    margin-bottom: 5px;
}