body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.profile-container {
    width: 700px;
    margin: 0 auto;
    margin-top: 70px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover-photo {
    padding-top: 25px;
}

.cover-photo a {
    font-size: 20px;
    padding: 15px;
    text-decoration: none;
    font-family: 'PT Serif', serif;
    color: black;
}

.profile-header {
    text-align: center;
    padding: 20px;
}

.profile-header h2 {
    margin: 10px 0;
}

.profile-header p {
    color: #888;
}

.profile-tabs {
    background-color: #f2f2f2;
    padding: 10px;
}

.profile-tabs ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.profile-tabs li {
    display: inline;
}

.profile-tabs a {
    text-decoration: none;
    color: #555;
    padding: 5px;
}

.profile-tabs a:hover {
    color: #4CAF50;
}

.profile-content {
    padding: 20px;
    font-size: 17px;
}

.profile-content h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    justify-content: center;
    text-align: center;
}

.saved-section {
    justify-content: center;
    text-align: center;
}

.profile-content table {
    width: 100%;
    border-spacing: 0 10px;
    border-collapse: separate;
}

.profile-content table tr th,
.profile-content table tr td {
    padding-top: 10px;
    padding-bottom: 10px;
}

.hidden {
    display: none;
}

.profile-button {
    background-color: #FFFFFF;
    border: 1px solid rgb(209, 213, 219);
    border-radius: .5rem;
    box-sizing: border-box;
    color: #111827;
    font-size: .675rem;
    font-weight: 400;
    line-height: 1.25rem;
    padding: .45rem .65rem;
    text-align: center;
    text-decoration: none #D1D5DB solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
    user-select: none;
    touch-action: manipulation;
}

.profile-button:hover {
    background-color: rgb(249, 250, 251);
}

.profile-button:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.profile-button:focus-visible {
    box-shadow: none;
}

.edit-section {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #e1e1e1;
    margin-top: 20px;
}

.edit-section .form-group {
    margin-bottom: 15px;
}

.edit-section .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

.edit-section .form-group input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group input[type="text"] {
    background-color: #FFFFFF;
    border: 1px solid #ccc;
}

.admin_button {
    display: inline-block;
    padding: 8px;
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    font-size: 15px;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.admin_button:hover {
    background: #8e8e8e;
}

/* Saved books */
.saved-books {
    margin-top: 20px;
    margin-bottom: 20px;
}

.saved-books table {
    width: 100%;
    border-collapse: collapse;
}

.saved-books th,
.saved-books td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.saved-books th {
    background-color: #f2f2f2;
}

.saved-books tr:hover {
    background-color: #ddd;
}

.saved-books button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.saved-books button:hover {
    background-color: #c82333;
}

/* General styles for messages */
p.success,
p.error {
    padding: 10px 20px;
    margin: 10px auto;
    width: 90%;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Specific styles for success messages */
p.success {
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
}

/* Specific styles for error messages */
p.error {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
}

/* Responsive Adjustments */
@media (max-width: 1200px) {
    .profile-container {
        width: 90%;
    }

    .profile-content {
        padding: 10px;
        font-size: 15px;
    }

    .profile-content h3 {
        font-size: 18px;
    }
}

@media (max-width: 800px) {
    .profile-container {
        width: 95%;
    }

    .profile-content {
        padding: 5px;
        font-size: 14px;
    }

    .profile-content h3 {
        font-size: 16px;
    }

    .saved-books th,
    .saved-books td {
        font-size: 14px;
        padding: 5px;
    }

}

@media (max-width: 600px) {
    .profile-container {
        width: 100%;
    }

    .profile-content {
        padding: 5px;
        font-size: 12px;
    }

    .profile-content h3 {
        font-size: 14px;
    }

    .saved-books th,
    .saved-books td {
        font-size: 12px;
        padding: 3px;
    }

    .profile-button {
        font-size: 15px;
    }

    .sort-info2 {
        text-align: center;
        padding: 10px 0;
        display: block;
        white-space: normal;
    }

    .pagination {
        text-align: center;
        padding: 20px;
    }

    .pagination a {
        display: inline-block;
        margin-bottom: 5px;
    }
}
